@import "style.css";
@import "top-bar.css";
/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.alert {
  background: var(--dl-color-hazelhub-cream);
  border-radius: 10px;
}

html {
  background-color: #ffffff;
}


body {
  color: #272727;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  align-items: center ;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border: 0px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background: var(--dl-color-hazelhub-tblue);
}

.btn-back {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border: 0px;
  font-weight: 400;
  display: block;
  width: fit-content;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background: var(--dl-color-hazelhub-hazel);
  border-radius: 4px;
  text-align: center;
}

.btn-back:hover {
  background: var(--dl-color-hazelhub-beige);
  color: #ffffff;
}

.btn-back:active {
  background: var(--dl-color-hazelhub-beige);
  color: #ffffff;
}

.btn-back:focus {
  background: var(--dl-color-hazelhub-beige);
  color: #ffffff;
}

.btn-success {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border: 0px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background: var(--dl-color-hazelhub-tblue);
}

.btn:hover {
  background: var(--dl-color-hazelhub-lblue);
  color: #ffffff;
}

.btn:active {
  background: var(--dl-color-hazelhub-lblue);
  color: #ffffff;
}

.btn:focus {
  background: var(--dl-color-hazelhub-lblue);
  color: #ffffff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33%;
  }
}

.card {
  background-color: white;
  border-radius: 0.2rem;
  transition: 0.3s;
  border: 10px solid;
  border-top: 20px solid;
  border-color: var(--dl-color-hazelhub-beige);
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.02);
  background-color: rgba(225, 211, 185, 0.72);
}

.card_content {
  padding: 1rem;
  background: var(--dl-color-hazelhub-beige);
  text-align: center;
}

.card_title {
  color: var(--dl-color-hazelhub-dblack);
  font-family: "DM Sans";
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: var(--dl-color-hazelhub-dblack);
  font-family: "DM Sans";
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  text-align: center;
}

.card-img-top {
  width: 300px;
  height: 250px;
  object-fit: contain;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-hazelhub-beige);

}

.made_by{
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}