{% extends "bootstrap/base.html" %} {% block title %}HazelHub{% endblock %} {%
block navbar %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<div class="tob-bar-container tob-bar-root-class-name">
  <div class="tob-bar-top-bar">
    <img alt="image" src="{{ url_for('static', filename='assets/hazelhublogo.svg') }}" class="tob-bar-image" />
    <span class="tob-bar-text"><span>HazelHub</span></span>
    <nav class="tob-bar-links">
      <a href="/discover" class="tob-bar-navlink">
        <span>Discover</span>
      </a>
      <a href="/myEvents" class="tob-bar-navlink1">
        <span>My Events</span>
      </a>
      <a href="/organizer/list" class="tob-bar-navlink2">
        <span>Organizations</span>
      </a>

      {% if current_user.name %}
      <a href="/user/myAccount" class="tob-bar-navlink3">
        <span>My Account</span>
      </a>
      {% else %}
      <a href="/organizer/myAccount" class="tob-bar-navlink3">
        <span>My Account</span>
      </a>
      {% endif %}
    </nav>
  </div>
</div>
{% endblock %} {% block content %}
<div class="container">
  {% for category,message in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-{{category}}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %} {% block page_content %}{% endblock %}
</div>
{% endblock %} {% block scripts %} {{ super() }} {{ moment.include_moment() }}
{% endblock %}
