{% extends "base.html" %} {% block title %}Flasky{% endblock %} 
{% block page_content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div>
  <link href="{{ url_for('static', filename='css/event-details.css') }}" rel="stylesheet" />
  <span>
        <a href="{{ url_for('events.allEvents') }}" class="btn-back">&lt; Back to Discover</a>
        <br />
  </span>
  <div class="event-details-container">
	<div class="event-image-container">
		<img alt="image" src="{{event.image_link}}" class="event-details-image1" />
	</div>
    <div class="event-description-container event-description-root-class-name">
      <div class="title-container title-root-class-name">
        <span class="title-text">
          <span>{{ event.event_name }}</span>
        </span>
        <svg viewBox="0 0 731.4285714285713 1024" class="title-icon">
          <!-- Your path here -->
        </svg>
      </div>
      <div class="desc-container desc-root-class-name">
        <span class="desc-text"><span>Event Description: </span></span>
        <span class="desc-text1">{{ event.description }}</span>
      </div>
      <div class="interest-areas1-container interest-areas1-root-class-name">
        <span class="interest-text">Interest Areas: </span>
		<!--
        {% for interest in event.interests %}
        <span class="interest-areas1-text"><span>{{ interest.name }}</span></span>
        {% endfor %} -->
      </div>
      <div class="date-time-container date-time-root-class-name">
        <span class="date-time-text"><span>Date: {{ event.date }}</span></span>
        <svg viewBox="0 0 950.8571428571428 1024" class="date-time-icon">
          <!-- Your path here -->
        </svg>
        <span class="date-time-text1">
          <span>Time: {{ event.time }} </span>
        </span>
      </div>
      <span class="event-description-text">
        <span>Registration Fee: {{ event.fee }} CAD</span>
      </span>
      {% if current_user.name and not(event in current_user.events) %}
      <form method="POST" action="{{ url_for('events.register_for_event', event_id=event.id) }}" id="register_for_event-form">
      <button type="submit" id="registerButton" class="event-description-button button">
        <span>Register</span>
      </button>
      </form>
      {% endif %}
      {% if current_user.name and (event in current_user.events) %}
      <form method="POST" action="{{ url_for('events.unregister_for_event', event_id=event.id) }}" id="register_for_event-form">
      <button type="submit" id="registerButton" class="event-description-button button">
        <span>Unregister</span>
      </button>
      </form>
      {% endif %}
      <div class="location-container location-root-class-name">
        <a
          href="https://www.google.com/maps"
          target="_blank"
          rel="noreferrer noopener"
          class="location-link"
        >
          <span>Location: {{ event.location }}</span>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}