{% extends 'base.html' %}
{% block page_content %}
    <div>
      <form method="GET" action="/organizer/details" id="organizer-details"></form>
      <link href="{{ url_for('static', filename='css/organizer-details.css') }}" rel="stylesheet" />
      <div class="organizer-details-container">
        <div class="organizer-details1-container">
          {% if organization.image_link is none%}
            <img
            alt="image"
            src="{{ url_for('static', filename='assets/26126.jpg') }}"
            class="organizer-details1-image"
            />
          {% else %}
            <img
              alt="image"
              src="{{ organization.image_link }}"
              class="organizer-details1-image"
            />
          {% endif %}
          <h1 class="organizer-details1-text"><span>{{ organization.organizer_name }}</span></h1>
          <span class="organizer-details1-campus">
            <span>Located at the University of Toronto {{ organization.campus }} Campus</span>
          </span>
          <span class="organizer-details1-description">
            <span>
              {{ organization.description }}
            </span>
          </span>
          <h1 class="organizer-details1-text1">
            <span>Contact Email: {{ organization.organizer_email }}</span>
          </h1>
          <h1 class="organizer-details1-text2">
            <span>Website: {{ organization.organization_website_link }}</span>
          </h1>
          <h1 class="organizer-details1-text3">
            <span>Instagram: {{ organization.organization_instagram_link }}</span>
          </h1>
          <h1 class="organizer-details1-text4">
            <span>Linkedin: {{ organization.organization_linkedin_link }}</span>
          </h1>
        </div>
      </div>
    </div>
    


    <div class="page-header"> 
      <h1>Current Events</h1>
  </div>
    <div>
      {% for event in organization_events %}
      <div class="event-row-component1-container event-row-component1-root-class-name3">
        <a href="{{ url_for('event_details', event_id=event.id) }}" class="event-row-component1-navlink">
          <img alt="image_alt4" src="{{ event.image_src }}" class="event-row-component1-image" />
        </a>
        <div class="event-row-component1-container1">
          <a href="{{ url_for('event_details', event_id=event.id) }}" class="event-row-component1-navlink1">
            <span>{{ event.event_name }}</span>
          </a>
          <span class="event-row-component1-text">
            <span>{{ event.location }}</span>
            <span>{{ event.date }}</span>
            <span>{{ event.time }}</span>
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
    
    <a href="https://www.freepik.com/free-vector/modern-colored-pattern-vector-illustration_2904382.htm#query=patterns&position=36&from_view=search&track=sph">Image by rawpixel.com</a> on Freepik
{% endblock %}


