{% extends 'base.html' %}
{% block page_content %}
<div>
  <form method="GET" action="/organizer/details" id="organizer-details">
    <link href="{{ url_for('static', filename='css/organizer-details.css') }}" rel="stylesheet" />
    <div class="organizer-details-container">
        <header class="organizer-title-container">
            <div class="organization-logo-container organization-logo-root-class-name">
              {% if organization.image_link is none%}
                <img
                alt="image"
                src="{{ url_for('static', filename='assets/26126.jpg') }}"
                class="organizer-logo-image"
                />
              {% else %}
                <img alt="image" class="organization-logo-image" src="{{ organization.image_link | replace('app', '') }}"/>
              {% endif %}
            </div>
            <h1 class="organizer-title-text"><span>{{ organization.organizer_name }}</span></h1>
            <span class="organizer-title-text1"><span>Located at the University of Toronto {{ organization.campus }} Campus</span></span>
        </header>

        <div class="organization-email-container organization-email-root-class-name">
            <span class="organization-email-text">
                <span>{{ organization.organizer_email }}</span>
            </span>
            <span class="organization-email-text1"><span>Contact Email:</span></span>
        </div>

          <div class="organization-email-container organization-email-root-class-name">
            <span class="organization-email-text">
                <span>{{ organization.website }}</span>
            </span>
            <span class="organization-email-text1"><span>Website:</span></span>
          </div>

      <div class="organization-email-container organization-email-root-class-name">
        <span class="organization-email-text">
            <span>{{ organization.instagram }}</span>
        </span>
        <span class="organization-email-text1"><span>Instagram:</span></span>
    </div>

    <div class="organization-email-container organization-email-root-class-name">
      <span class="organization-email-text">
          <span>{{ organization.linkedin }}</span>
      </span>
      <span class="organization-email-text1"><span>Linkedin:</span></span>
  </div>

        <div class="organization-desc-container organization-desc-root-class-name">
            <span class="organization-desc-text"><span>About Us:</span></span>
            <span class="organization-desc-text1">
                <span>{{ organization.description }}</span>
            </span>
          </span>
          
         
        </div>
      </div>
    </div>
    


    <div class="page-header"> 
      <h1>Current Events</h1>
  </div>
    <div>
      {% for event in organization_events %}
      <div class="event-row-component1-container event-row-component1-root-class-name3">
        <a href="{{ url_for('events.event_details', event_id=event.id) }}" class="event-row-component1-navlink">
          <img alt="image_alt4" src="{{ event.image_link | replace('app', '') }}" onerror="this.onerror=null; this.src='/static/assets/default_event_image.jpg'"  class="event-row-component1-image" />
        </a>
        <div class="event-row-component1-container1">
          <a href="{{ url_for('events.event_details', event_id=event.id) }}" class="event-row-component1-navlink1">
            <span>{{ event.event_name }}</span>
          </a>
          <span class="event-row-component1-text">
            <span>{{ event.location }}</span>
            <span>{{ event.date }}</span>
            <span>{{ event.time }}</span>
          </span>
          <span class="event-row-component1-desc">
            <span>{{ event.description }}</span>
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
    
    <a href="https://www.freepik.com/free-vector/modern-colored-pattern-vector-illustration_2904382.htm#query=patterns&position=36&from_view=search&track=sph">Image by rawpixel.com</a> on Freepik
{% endblock %}


