{% extends 'base.html' %} {% import "bootstrap/wtf.html" as wtf %} {% block
page_content%}
<div class="page-header">
  <a href="{{ url_for('main.logout') }}">Logout</a>
  <h1>Hello, {% if name %}{{name}}{% else %}Stranger{% endif %}!</h1>
  <p>Email: {{email}}</p>
  <a href="{{ url_for('users_blueprint.signupInterests') }}">Change Current Interests?</a>
  <p>Interests:</p>
  <ul>
    {% for interest in interests %}
    <li>{{ interest.name }}</li>
    {% endfor %}
  </ul>
</div>
{{ wtf.quick_form(form) }} {%endblock%} {% block title %}Flasky{% endblock %}
